body {
  text-align: center;
  font-family: arial;
  max-width: 700px;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  padding: 15px;
}

tr {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}
