html {
  background-color: #455A64;
}

body {
  text-align: center;
  font-family: arial;
  max-width: 700px;
  margin: auto;
  color: #edf5e0;
}

table {
  width: 100%;
}

table, th, td {
  padding: 8px;
}

tr {
  text-align: left;
}

#important-creatures tr {
  background-color: #b71c1c;
}

#active-creatures tr {
  background-color: #689F38;
}

#inactive-creatures tr {
  background-color: #0288D1;
}
